@import "_normalize";

$primary-color: #901414;
$secondary-color: hsl(33, 41%, 97%);
$grey-color: hsl(35, 10%, 40%);

$sans-serif: 'Overpass', sans-serif;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background: $secondary-color;
}

p {
    max-width: 75ch;
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif;
} 

img {
    max-width: 400px;
    margin-right: 2em;
    width: 75%;

    @media (min-width: 42em) {
        width: 50%;
    }
}

.vertical-image {
    float: left;
    max-width: 250px;
}

article {
    margin: 0 5% 2em;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: darken($primary-color, 5%);
    }
}
 
footer {
    background: darken($secondary-color, 2.5%);
    padding: 1em 5%;
    color: $grey-color;
}

.header {
    line-height: 0;
    margin: 0 5%;
    font-size: .85em;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 5rem;
    margin: 0;
    opacity: .9;
}

.header__info {
    margin-left: 2em;
}

figure {
    width: 50%;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
} 

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button {
    display: inline-block;
    font-family: $sans-serif;
    background-color: rgba($primary-color, .95);
    color: white;
    border: 1px solid $primary-color;
    padding: .4em .8em;
    text-decoration: none;
    transition: background-color 100ms ease-in;
    border-radius: 8px;

    &:hover {
        background-color: darken($primary-color, 7.5%);
        color: white;
        text-decoration: none;
    }
}

.main__title {
    font-size: 2.2em;
    margin-bottom: .5rem;
}

.main__cta {
    margin: 1rem 0 3rem; 
    font-size: 1.1em;
}